body{
    background-color:#b2b7b2
}

.card{
    width:25%;
    margin-top:5%;
    margin-left:38%;
    background-color: #8e8f8e;
    border-color: #191b19;
    border-width: 7%;
    /* margin-left: 70%;
    margin-top: 0%; */
}

.add{
    background-color: #8e8f8e;
    border:15% black solid;
    margin: 5%;
    padding: 2%;
    
}

input[type=text]{
    width: 100%;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  h4{
    text-align: centre;
    margin-left: 30%;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.btn{
    width: 50%;
    background-color: #191b19;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border:4% black solid;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    margin-left: 22%;
    margin-top: 6%;
}

.btn:hover {
    background-color: #505650;
  }

