.container{
    
    width: 100%;
}
.card{
    /* display: flex; */
    width:25%;
    margin: 5% 0 5% 7%;
    /* padding: 3%; */
    border:rgb(84, 83, 83) 3px solid;
    background-color: rgb(182, 186, 196);
}

.btn1{
    background-color:rgb(39, 41, 41);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin:5% 0% 5% 0%;
    text-decoration: none; 
    padding: 5%;
    
  }
  .btn1:hover {
    background-color: #505650;
    color: white;
    border-color: black;
  }

  p,h3{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 5%;
  }
  h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    /* background-color: rgb(125, 133, 153); */
    background-color: rgb(221, 195, 195);
   
  }
