h3{
    background-color: rgb(99, 159, 219);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-weight: bolder;
    text-align: center;
    word-spacing: 30px;
    letter-spacing: 10px;
    text-shadow: 2px 2px rgb(144, 144, 199);
    width: 100%;
    
}