nav{
    background-color: #6b706b;
    padding: 16px 32px;
    
    
}

nav a{
    color: black;
    margin-right: 30px;
    text-decoration: none;
}

.active{
    text-decoration: none;
    color:white;
    font-weight: bolder;
}